* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Recia-Regular", serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.main-container {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    width: 80vw;
    max-width: 900px;
    background: rgb(18, 16, 15);
    z-index: 9;
    overflow: scroll;
}

.top-content {
    flex: auto;
    z-index: 10;
    padding: 5%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    /*background: linear-gradient(90deg, rgb(35, 36, 36) 0%, rgba(33, 54, 56, 0.769) 100%);*/
    z-index: 10;
    width: 100%;
}

.text-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'Tanker-Regular';
    src: url('./fonts/Tanker-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'BespokeSerif-Regular';
    src: url('./fonts/BespokeSerif-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Recia-Regular';
    src: url('../fonts/Recia-Regular.woff2') format('woff2'),
        url('../fonts/Recia-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
        url('../fonts/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

p {
    color: rgb(210, 202, 193);
    font-size: 1.4em;
    line-height: 1.3;
    align-self: flex-start;
}

a {
    color: rgb(239, 240, 199);
    font-size: 1.5em;
    line-height: 1.5;
    align-self: flex-start;
}

h1 {
    color: rgb(194, 194, 194);
    font-family: "GeneralSans-Semibold", sans-serif;
    font-size: 3em;
    line-height: 1.3;
    letter-spacing: 0.02em;
    word-spacing: 0em;

    text-shadow: rgb(103, 129, 137) 2px 0px 1px;
    /*text-shadow: 22px 0px 5px rgb(130, 166, 183);*/
}

h2 {
    color: rgb(199, 190, 180);
    font-family: "GeneralSans-Semibold", sans-serif;
    font-size: 2.1em;
    line-height: 1.2;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
}

img {
    max-width: 95%;
    height: auto;
}

.bg-parallax-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
}

.bg-parallax-1 {
    position: absolute;
    background: url(lines.svg);
    background-repeat: repeat;
    background-size: 600px;

    height: 100%;
    width: 100%;
    z-index: 1;

    transform-origin: 0 0;
    transform: translateZ(-8px) scale(9.1);
}

.bg-parallax-2 {
    position: absolute;
    background: url(linesClose.svg);
    background-repeat: repeat;
    background-size: 500px;

    height: 100%;
    width: 100%;
    z-index: 2;

    transform-origin: 0 0;
    transform: translateZ(-4px) scale(5.1);
}

.bg-parallax-3 {
    position: absolute;
    left: 10%;
    background: url(big_lines.svg);
    background-repeat: repeat-y;
    background-size: 100px;
    
    height: 100%;
    width: 100%;
    z-index: 3;

    transform-origin: 0 0;
    transform: translateZ(-1px) scale(2.8);
    
}